@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
    /*--------root variables---------*/
    
     :root {
        /*================GREEN THEME=============================*/
        --color-primary: #ff7b02;
        --color-primary-variant: #e5a55d;
        --color-bg1: #aaad62;
        --color-bg2: #cbe3bf;
        --color-bg3: #feffe4;
        --color-bg4: #feffe4;
        --color-light: #6e353b;
        --color-white: hsl(0deg 2.99% 36.95%);
        /*================PURPLE THEME=============================*/
        /*
--color-primary:#ff7b02;
--color-primary-variant:#e5a55d;
--color-bg1:#140021;
--color-bg2:#1e0032;
--color-bg3:#25003e;
--color-bg4:#36005a;
--color-light:#d0b8e0;
--color-white:hsl(0,0%,90%);
*/
        --container-width-lg: 88%;
        --container-width-md: 92%;
        --transition: all 400ms ease;
        --card-padding: 1.8rem;
        --padding-1: 1.2rem;
        --box-shadow: 0 2rem 3rem var(--color-light);
    }
    
    * {
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }

    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: 'Yekan';
        background: var(--color-bg3);
        color: var(--color-light);
        line-height: 1.7;
    }
    
    a {
        color: var(--color-light);
        transition: var(--transition);
    }
    
    a:hover {
        color: var(--color-primary);
    }
    
    h1,
    h2 {
        font-weight: 400;
        line-height: 1.1;
    }
    
    h1 {
        font-size: 4rem;
        color: var(--color-white);
        text-align: end;
    }
    
    h2 {
        font-size: 3.5rem;
    }
    
    .container {
        width: var(--container-width-lg);
        margin: 0 auto;
        max-width: 2160px;
    }
    
    img {
        width: 100%;
        display: block;
        object-fit: cover;
    }
    /*===================NAV=======================*/
    
    nav {
        height: 5rem;
        width: 100vw;
        display: grid;
        place-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }
    /*for scroll */
    
    .window-scrolled {
        background: var(--color-bg2);
        border-bottom: 0.2rem solid var(--color-bg3);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
        transition: 500ms;
    }
    
    .nav__container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav button {
        display: none;
    }
    /*only need on tablets and phone*/
    
    .nav__toggle-btn {
        display: none;
    }
    
    .nav__logo {
        width: 7.5rem;
    }
    
    .nav__links {
        display: flex;
        gap: 4rem;
    }
    
    .nav__socials {
        display: flex;
        gap: 1rem;
    }
    
    .nav__socials a {
        width: 2rem;
        aspect-ratio: 1.1;
        background: linear-gradient(var(--color-primary-variant), var(--color-primary));
        border-radius: 0.5rem;
        color: var(--color-bg4);
        display: grid;
        place-items: center;
    }
    
    .nav__socials a:hover {
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
    }
    /*===================NAV=======================*/
    
    header {
        max-width: 100vw;
        height: 100vh;
        top: 0;
        position: relative;
        background: linear-gradient(var(--color-bg3), var(--color-bg1));
        overflow: hidden;
    }
    
    .header__container {
        display: grid;
        grid-template-columns: 41% 51%;
        gap: 6%;
        margin-top: 10rem;
        position: relative;
    }
    
    .header__image-bg {
        background: var(--color-bg1);
        height: 22rem;
        width: 16rem;
        position: absolute;
    }
    
    .header__image-lg {
        top: 1rem;
        left: 1rem;
        width: 29rem;
        position: relative;
        filter: saturate(0) brightness(0.3);
        transition: var(--transition);
    }
    
    .header__image-sm {
        overflow: hidden;
        height: 28rem;
        width: 28rem;
        position: absolute;
        left: 6rem;
        top: 6rem;
        transition: var(--transition);
    }
    
    .header__left:hover .header__image-sm {
        opacity: 0;
    }
    
    .header__left:hover .header__image-lg {
        filter: saturate(1) brightness(1);
        border: 1rem solid var(--color-bg4);
    }
    
    .header__head {
        display: flex;
        gap: 2rem;
        align-items: flex-start;
    }
    /*general empty style*/
    
    .empty {
        height: 3.5rem;
        width: 18rem;
        background: var(--color-bg2);
        border-radius: calc(3.5rem / 2);
        margin-bottom: 3.5rem;
        box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
        border: 1px solid var(--color-bg4);
    }
    
    .header__tag {
        color: var(--color-primary-variant);
    }
    
    .header__right p {
        margin-top: 2rem;
        width: 88%;
        direction: rtl;
        text-align: justify;
        line-height: 2.5rem;
    }
    /*only show on tablets and phone*/
    
    .header__btn-md {
        display: none;
    }
    
    .haeder__frames {
        position: absolute;
        top: 110vh;
        right: 44rem;
        transition: var(--transition);
    }
    
    .header__frame {
        width: 14rem;
        border: 0.4 solid var(--color-bg3);
        box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
        position: absolute;
        transform: rotate(-10deg);
        transform-origin: bottom left;
        transition: var(--transition);
    }
    
    .header__frame:nth-child(2) {
        transform: rotate(20deg);
        top: -2;
        left: 2rem;
    }
    
    .haeder__frames:hover .header__frame {
        transform: rotate(0);
    }
    
    .haeder__frames:hover .header__frame:nth-child(2) {
        top: 0;
        left: 15rem;
    }
    /*general style for contact buttons*/
    
    .contact__btn {
        color: var(--color-bg1);
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        cursor: pointer;
        transition: var(--transition);
    }
    
    .contact__btn i {
        font-size: 3.5rem;
        position: absolute;
    }
    
    .contact__btn p {
        font-size: 1rem;
        font-weight: 600;
        width: 10rem;
        height: 10rem;
        display: flex;
        justify-content: center;
        animation: spinText 50s linear infinite;
    }
    
    .contact__btn p span {
        position: absolute;
        transform-origin: 0.3rem 5rem;
    }
    
    @keyframes spinText {
        to {
            transform: rotate(360deg);
        }
    }
    
    .header__btn {
        background: linear-gradient(-30deg, var(--color-primary-variant), var(--color-primary), var(--color-primary-variant));
        position: absolute;
        right: 6%;
        bottom: -10rem;
    }
    
    .header__btn:hover {
        box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
        transform: translateX(-1rem);
        color: var(--color-bg1);
    }
    /*===========================POST page=============================*/

.post__container{
    /* height: 160vh; */
    height: max-content;
}
.main-card{
    margin: 0 auto;
    width: 65%;
    background: var(--color-primary);
    padding: 2rem;
    line-height: 1rem;
    border-radius: 1rem;
    display: grid;
    margin-top: 8rem;
    align-items: center;
}
.main-card p{
    line-height: 1.5rem;
    margin-top: 1rem;
}
.post__container .ingo {    
    display: grid;
    align-items: center;
}
/*===========================BLOG page=============================*/
.blog{
    height: 20vh;
    margin-top: 6rem;
    margin-bottom: 1rem;
}
.search-bar {
    background: var(--color-bg1);
    height: 59px;
    align-items: center;
    display: flex;
}
.search-bar input[type="search"] {
    background: transparent;
    margin-left: 1rem;
    font-size: 0.9rem;
    flex-basis: 100%;

}
.search-bar i{

    margin-left: 1rem;
}
.btn-danger{
    background: var(--color-danger);
    color: #fff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0 0.4rem 0 0;
    border-radius: 0.2rem;
}
.btn-blog,.container-login input[type="submit"] {
    background: var(--color-primary);
    color: #fff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0 0.4rem 0 0;
    border-radius: 0.2rem;
}
.btn-blog:hover,.container-login input[type="submit"]:hover,.btn-danger:hover{
    background: var(--color-white);
    color: #000;
    transition: var(--transition);
    cursor: pointer;
}
.container__search{
    width: 30%;
    margin: 0 auto;
}
    /*==================ABOUT=======================*/
    
    #about {
        margin-top: 18rem;
        direction: rtl;
    }
    .about__container {
        display: grid;
        grid-template-columns: 10rem 26rem auto;
        gap: 3rem;
        position: relative;
    }
    .about__title {
        position: absolute;
        top: -7rem;
        z-index: 1;
    }
    
    .about__btn {
        color: var(--color-primary-variant);
        align-self: end;
    }
    
    .about__btn:hover {
        transform: translateY(-1rem);
        color: var(--color-primary);
    }
    
    .about__image {
        position: relative;
    }
    
    .about__image-bg {
        width: 16rem;
        height: 24rem;
        position: absolute;
        bottom: 0;
        background: var(--color-bg4);
    }
    
    .about__image-lg {
        left: 1rem;
        position: relative;
        bottom: 1rem;
        filter: saturate(0) brightness(0.3);
        transition: 500ms ease;
    }
    
    .about__image-sm {
        position: absolute;
        top: 3rem;
        left: 8rem;
        height: 22rem;
        width: 22rem;
        overflow: hidden;
        box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, 0.4);
        transition: var(--transition);
    }
    
    .about__image:hover .about__image-sm {
        opacity: 0;
    }
    
    .about__image:hover .about__image-lg {
        filter: saturate(1) brightness(1);
        box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
        border: 1rem solid var(--color-bg4);
        left: 0;
        bottom: 0;
    }
    
    .about__right {
        margin-left: 5rem;
    }
    
    .about__right p {
        margin: 0 4rem 1.5rem 0;
        line-height: 3rem;
    }
    /*==========================GALLERY============================*/
    #gallery {
        margin-top: 12rem;
        direction: rtl;
    }
    .gallery__head {
        display: flex;
        justify-content: space-between;
    }
    .gallery__container p {
        width: 45rem;
    }
    .swiper-wrapper {
        margin-top: 5rem;
        height: 55rem;
        padding-bottom: 5rem;
    }
    .swiper-slide {
        border: 0.5rem solid var(--color-bg4);
        height: fit-content;
        max-height: 55rem;
        overflow: hidden;
        transition: var(--transition);
    }
    .swiper-slide:hover {
        box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
    }
    .swiper-slide img {
        filter: saturate(1);
    }
    .swiper-pagination-bullet {
        background: var(--color-primary);
    }
    /*==========================exhibition============================*/
    #exhibition {
        margin-top: 10rem;
        direction: rtl;
    }
    .exhibition__container {
        position: relative;
    }
    .exhibition__empty {
        width: 26rem;
        position: absolute;
        right: 14rem;
        top: 0;
    }
    .exhibition__haed {
        display: grid;
        grid-template-columns: auto 10rem;
        justify-content: space-between;
        align-items: center;
    }
    .exhibition__haed > p {
        width:fit-content;
    }
    .exhibition__btn {
        color: var(--color-primary-variant);
    }
    
    .exhibition__btn:hover {
        transform: translateY(-1rem);
    }
    
    .exhibition__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 5rem;
        gap: 3rem;
    }
    
    .exhibition__gallery article {
        border: 0.5rem solid var(--color-bg4);
        transition: var(--transition);
    }
    
    .exhibition__gallery article:nth-child(1) {
        grid-row: 1/3;
    }
    
    .exhibition__gallery article:nth-child(4) {
        grid-column: 2/4;
        grid-row: 2/3;
    }
    
    .exhibition__gallery article img {
        height: 100%;
        filter: saturate(0);
        transition: var(--transition);

    }
    
    .exhibition__gallery article:hover img{
        filter: saturate(1) brightness(1);
    }
    .exhibition__gallery article:hover {
        box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.5);
    }
    /*==============================FOOTER============================================*/
    
    footer {
        margin-top: 5rem;
    }
    
    .footer__container {
        border-top: 0.5rem solid var(--color-bg4);
        padding-top: 5rem;
    }
    
    .footer__head {
        display: flex;
        align-self: center;
        gap: 2rem;
    }
    
    .footer__btn {
        width: 5rem;
        height: 5rem;
        border: 0.2rem solid var(--color-primary-variant);
        border-radius: 50%;
        font-size: 3rem;
        color: var(--color-primary-variant);
        display: flex;
        align-self: center;
        justify-content: center;
        transition: var(--transition);
    }
    
    .footer__btn {
        transform: translateY(-1rem);
        border-color: var(--color-primary);
    }
    
    .footer__links {
        margin: 3rem 0 5rem;
        display: flex;
        align-self: center;
        gap: 5rem;
    }
    /*=============================madia Query (Medium screen)==================================*/
    
@media screen and (max-width:1024px){
        .container {
            width: var(--container-width-md);
            position: relative;
        }
        h1 {
            font-size: 2.5rem;
            line-height: 1.3;
            direction: rtl;
        }
        h2 {
            font-size: 2.5rem;
        }
        /*===========NAV============*/
        .nav__socials {
            display: none;
        }
        .nav__links {
            position: absolute;
            top: 100%;
            right: 0;
            flex-direction: column;
            gap: 0;
            display: none;
        }
        .nav__links li{
          height: 5rem;
          box-shadow: -3rem 3rem 3rem rgba(0, 0, 0, 0.7);
          animation: navAnimation 600ms ease forwards;
          transform: rotateX(90deg);
          opacity: 0;
          transform-origin: top;
        }
        .nav__links li:nth-child(2){
            animation-delay: 200ms;
        }
        .nav__links li:nth-child(3){
            animation-delay: 400ms;
        }
        .nav__links li:nth-child(4){
            animation-delay: 600ms;
        }
            @keyframes navAnimation{
            to{
                transform: rotateX(0);
                opacity: 1;
            }
        }
        .nav__links li a {
            background: var(--color-bg4);
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 1rem 5rem 1rem 3rem;
            border-top: 1px solid var(--color-bg2);
        }
        .nav__toggle-btn{
            display: inline-block;
            font-size: 2rem;
            background: transparent;
            cursor: pointer;
            color: var(--color-white);
        }
        #nav__toggle-close{
            display: none;
        }
        /*--------------------------HEADER-------------------------*/
        header{
            height: fit-content;
            padding: 14rem 0 12rem;
            display: grid;
            place-items: center;
        }
        .header__image-bg, .header__image-sm{
            display: none;
        }
        .header__container{
            grid-template-columns: 40% 54%;
            gap: 6rem;
            margin: 0;
        }
        .header__image-lg{
            filter: saturate(1) brightness(1);
            border: 1rem solid var(--color-bg2);
            width: 100%;
            top: 0;
            left: 0;
        }
        .empty{
            display: none;
        }
        .header__tag{
            margin-bottom: 1rem;
        }
        .header__right p{
            width: 100%;
            margin-top: 1.5rem;
        }
        .haeder__frames , .contact__btn{
            display: none;
        }
        .header__btn-md{
            background: linear-gradient(135deg,
            var(--color-primary-variant),
            var(--color-primary));
            color: var(--color-bg1);
            margin-top: 2rem;
            display: inline-block;
            padding: 0.6rem 1.6rem;
            font-weight: 600;
            border-radius: 0.3rem;
        }
        .header__btn-md:hover{
            color: var(--color-bg1);
        }
        /*=======================ABOUT===========================*/
        .about__container{
            grid-template-columns: 40% 54%;
            gap: 6%;
        }
        .about__image-bg, .about__image-sm{
            display: none;
        }
        .about__image-lg{
            left: 0;
            top: 0;
            filter: saturate(1) brightness(1);
        }
        .about__image:hover ,  .about__image-lg{
            border: none;
        }
        .about__right {
            margin: 0;
        }
        .about__right p{
           margin-bottom: 1rem;
        }
        /*====================GALLERY======================*/
        #gallery{
            margin-top: 8rem;
        }
        .gallery__container p{
            width: 100%;
            margin-top: 2rem;
        }
        .swiper-wrapper{
            margin-top: 4rem;
            height: fit-content;
        }
        /*=====================EXHIBITION======================*/
        .exhibition__head > p{
            width: 100%;
            margin-top: 2rem;
        }
        .exhibition__gallery{
            margin-top: 3rem;
            gap: 1rem;
        }
        .exhibition__gallery article{
            border: none;
        }
        /*------------------------FOOTER---------------------------------*/
   
        .footer__head h2{
            font-size: 1rem;
        }
     
}
@media screen and (max-width:600px) {
    h1,h2{
        font-size: 2rem;
        line-height: 1.3;
        color: var(--color-white);
    }
    header{
        padding: 0;
        padding-bottom: 6rem;
    }
    .header__container{
        grid-template-columns: 1fr;
        gap: 1rem;
        text-align: center;
    }
    .header__head{
        justify-content: center;
    }
    .header__image-lg{
        margin: 0 auto;
        margin-top: 7rem;
        border-radius: 15rem 15rem 0 0;
        width: 80%;
        height: 15rem;
        overflow: hidden;
       
    }
    .header__right p ,.header__title{
        margin-top: 1rem;
    }
    /*=======================ABOUT===========================*/
    .about__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .about__right p{
        width: 100%;
    }
   .swiper-slide{
    border: 0;
   }
    /*====================GALLERY======================*/
    #gallery{
        margin-top: 6rem;
    }
    .gallery__container p{
        margin-top: 1rem;
    }
    .swiper-wrapper{
        margin-top: 3rem;
    
    }
    /*=====================EXHIBITION======================*/
    #exhibition{
        margin-top: 6rem;
    }
    .exhibition__head{
       grid-template-columns: 1fr;
    }
    .exhibition__head > p{
        margin-top: 1rem;
    }
    .exhibition__gallery{
        display: block;
    }
    .exhibition__gallery article{
        width: 100%;
        height: fit-content;
        margin-bottom: 1rem;
    }
    /*===================footer head=====================*/
    .footer__head{
        flex-direction: column;
        align-items: center;
    }
    .footer__head h2{
        font-size: 1.5rem;
    }
    .footer__links{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin-top: 2rem;
    }

}
