
body,
button,
input,
textarea {
    font-family: Yekan;
    line-height: 1.7
}

a,


#hidden,
#nav__profile,
nav button {
    display: none
}

.category__title a,
a:hover {
    color: #666cbd
}

.btn,
aside h3 {
    font-weight: 500
}

aside .sidebar a.active,
aside .sidebar a:hover,
aside .sidebar a:hover span {
    color: var(--color-primary)
}

body,
input,
textarea {
    background: var(--color-bg)
}





.achievement__card:hover,
.nav__menu a,
.right table tr:hover,
.window-scroll,
a:hover {
    transition: var(--transition)
}



.btn:hover,
nav {
    background: 0 0
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto
}

.text-muted {
    color: var(--color-grey)
}

section {
    padding: 1rem 0
}

section h1 {
    text-align: center;
    margin-bottom: 4rem
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2
}

h1 {
    font-size: 2.3rem
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.5rem
}

h4 {
    font-size: 1.1rem
}

img {
    width: 100%;
    display: block;
    object-fit: cover
}

.btn {
    display: inline-block;
    background: var(--color-white);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    color: #000
}

.btn-primary,
.btn:hover {
    color: var(--color-white)
}

.btn:hover {
    border-color: var(--color-white)
}

.btn-primary {
    background: var(--color-danger)
}

.btn-login {
    border: 2px solid #d9bfcf;
    padding: 0 10px;
    border-radius: 2px;
    color: #fff
}

.profile-picture {
    width: 3rem;
    aspect-ratio: 1.1;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #000
}

nav {
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11
}

.nav__menu,
.nav__profile img,
.team__member,
aside .sidebar,
aside .sidebar a,
header {
    position: relative
}

.window-scroll {
    background: var(--color-primary);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2)
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.nav__container ul h4 {
    font-weight: 400
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem
}

.nav__menu a {
    font-size: .9rem
}

.nav__menu a:hover {
    color: var(--color-bg2)
}

.nav__profile {
    display: flex;
    flex-direction: column
}

.nav__profile img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%
}

.contact__form,
.form__name {
    display: flex;
    gap: 1.2rem
}

.contact__socials a {
    background: var(--color-bg2);
    padding: .5rem;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: var(--transition)
}

.contact__socials a:hover {
    background: #0ff
}

.contact__form {
    flex-direction: column;
    margin-left: 2rem
}

.contact__form input[type=text] {
    width: 50%
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    color: var(--color-white)
}

.contact__form .btn {
    width: max-content;
    cursor: pointer;
    margin-top: 1rem
}
#hidden {
    position: absolute;
    top: 62
}

#hidden li {
    background: #8a2be2;
    padding: 15px
}

.nav__profile:hover #hidden {
    display: flex;
    flex-direction: column;
    width: max-content
}

header {
    overflow: hidden;
    height: 100%;
    top: 5rem;
    margin-bottom: 2rem
}

.header__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    height: 100%
}

.header__left {
    display: grid;
    gap: 1rem
}

.header__left p {
    margin: .3rem 0 1.4rem;
    font-size: 15px
}

.category__title {
    width: max-content;
    padding: 5px 20px;
    justify-content: center;
    background: #08084463;
    border-radius: .4rem;
    margin-bottom: 1rem;
    align-items: center;
    height: 3rem;
    display: grid;
    margin-bottom: 1;
    color: #39a7f5
}

.other_posts .category__title {
    margin: 1rem 0 .5rem
}

.header__right-image img {
    border-radius: 70px 0;
    border: 15px solid purple
}

.user {
    display: flex;
    gap: 1rem;
    margin: 1rem 0
}

.header__left .profile-picture,
.main-card .profile-picture,
.other_posts .profile-picture {
    width: 3rem;
    aspect-ratio: 1.1;
    border-radius: 25%;
    overflow: hidden
}

.content {
    background: var(--color-bg1);
    height: 100%
}

.content__container {
    display: flex;
    gap: 4rem;
    margin-bottom: 5rem;
    flex-wrap: wrap
}

.content__container .other_posts {
    flex-basis: 28%
}

.category-post__container {
    margin-top: 4rem
}

.category-post__container h1 {
    background: #222f64;
    line-height: 15rem;
    margin-top: 5rem;
    box-shadow: inset 0 0 20px 0 #1f2641
}

.line {
    border-bottom: 3px solid var(--color-bg1);
    display: block
}

.category-footer-section {
    height: 250px;
    display: grid;
    align-items: center
}

.category-footer {
    display: flex;
    width: 50%;
    margin: 0 auto 1rem
}

.category-footer ul {
    display: flex;
    width: 100%;
    flex: 1;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center
}

.main-card,
.post__container .ingo {
    display: grid;
    align-items: center
}

.category-footer ul li {
    background: #2e3267;
    padding: .4rem 3rem;
    width: 26%;
    color: #39a7f5;
    border-radius: .3rem
}

.post__container {
    height: max-content
}

.main-card {
    margin: 8rem auto 0;
    width: 65%;
    background: var(--color-primary);
    padding: 2rem;
    line-height: 1rem;
    border-radius: 1rem
}

.main-card p {
    line-height: 1.5rem;
    margin-top: 1rem
}

.alert,
.search-bar {
    align-items: center
}

.blog {
    height: 20vh;
    margin-top: 6rem;
    margin-bottom: 1rem
}

.search-bar {
    background: var(--color-bg1);
    height: 59px;
    display: flex
}

.search-bar input[type=search] {
    background: 0 0;
    margin-left: 1rem;
    font-size: .9rem;
    flex-basis: 100%
}

.btn-blog,
.btn-danger,
.container-login input[type=submit] {
    color: #fff;
    padding: .5rem 1rem;
    margin: 0 .4rem 0 0;
    border-radius: .2rem
}

.search-bar i {
    margin-left: 1rem
}

.btn-danger {
    background: var(--color-danger)
}

.btn-blog,
.container-login input[type=submit] {
    background: var(--color-primary)
}

.alert,
.su-alert {
    background: rgb(10 2 58 / 66%);
    display: flex;
    height: 3rem
}

.btn-blog:hover,
.btn-danger:hover,
.container-login input[type=submit]:hover {
    background: var(--color-white);
    color: #000;
    transition: var(--transition);
    cursor: pointer
}

.container__search {
    width: 30%;
    margin: 0 auto
}

.sign-in {
    margin-top: 5rem;
    min-height: 100%;
    align-content: center
}

.container-login {
    width: 45%;
    margin: 0 auto
}

.container-login input[type=email],
.container-login input[type=password],
.container-login input[type=text] {
    background: var(--color-bg2);
    font-size: .9rem;
    width: 100%;
    height: 2.5rem;
    margin: .8rem 0 0;
    border-radius: .2rem;
    padding-left: 1rem
}

.container-login input[type=file],
.container-login select {
    background: var(--color-bg2);
    font-size: .9rem;
    width: 100%;
    color: gray;
    height: 2.5rem;
    margin: .2rem 0 0;
    border-radius: .2rem;
    padding-left: 1rem;
    line-height: 2.5rem
}

.container-login textarea {
    background: var(--color-bg2);
    font-size: .9rem;
    width: 100%;
    color: #fff;
    margin: .5rem 0 0;
    border-radius: .2rem;
    padding-left: 1rem;
    line-height: 2.5rem
}

.container-login input[type=submit] {
    margin-top: .7rem
}

.container-login p {
    margin-top: 1.5rem
}

.alert {
    border: 1px solid red;
    border-radius: .3rem;
    justify-content: center;
    color: red
}

.su-alert {
    border: 1px solid #0dc90d;
    border-radius: .3rem;
    align-items: center;
    justify-content: center;
    color: #0dc90d
}

.achievement__card,
footer {
    background: var(--color-bg1)
}

.dashboord {
    margin-top: 7rem;
    margin-bottom: 5rem
}

.dashboord__container {
    display: flex;
    width: 85%;
    margin: 0 auto;
    gap: 1rem
}

.dashboord__container .left {
    width: 23%;
    background: var(--color-bg2)
}

.dashboord__container .right {
    width: 70%;
    background: var(--color-bg2);
    padding: 1rem;
    display: grid
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: max-content
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 4.7rem;
    transition: .3s
}

aside .sidebar a i {
    font-size: 1.6rem
}

aside .sidebar a.active {
    background: var(--color-light);
    margin-left: 0
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px)
}

aside .sidebar a:hover span {
    margin-left: .1rem
}

aside .sidebar .message-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1)
}

.right h3 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.right .recent-orders h2 {
    margin-bottom: .8rem
}

.right .recent-orders table {
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    transition: .3s
}

.right .recent-orders table:hover {
    box-shadow: none;
    direction: rtl
}

.right table thead th {
    height: 3rem;
    background: #6469a9;
    padding-left: 1rem
}

.right table tbody td {
    padding-left: 1rem;
    height: 3.4rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant)
}

.right table tr:hover {
    background: #2f3576
}

.right .recent-orders a {
    display: block;
    margin: 1rem auto;
    color: var(--color-primary)
}

.right .pagination {
    display: flex;
    width: 30%;
    align-items: center;
    margin: 10px auto 0;
    gap: 1rem;
    text-align: center
}

.right .pagination i {
    font-size: 20px;
    color: #f2d3ff
}

.right .pagination a {
    font-size: 18px;
    color: #fff;
    background: #0e367c;
    width: 30%;
    border-radius: 20%
}

footer {
    padding-top: 3rem;
    font-size: .9rem
}

footer i {
    background-color: #00000063;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    text-align: center;
    display: list-item
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem
}

.footer__container>div h4 {
    margin-bottom: 1.2rem
}

.footer__1 p {
    margin: 0 0 2rem
}

footer ul li {
    margin-bottom: .7rem
}

footer ul li a:hover {
    text-decoration: underline
}

.footer__socials {
    display: flex;
    gap: 3rem;
    font-size: 1.2rem;
    margin: 0 0 2rem;
    justify-content: center
}

.footer__copyright {
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2)
}

.about__achievements {
    margin-top: 3rem
}

.about__achievements-container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem
}

.about__achievements-right>p {
    margin: 1.6rem 0 2.5rem
}

.achievements__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem
}

.achievement__card {
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center
}

.achievement__card:hover {
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgb(0, 0, 0, .3)
}

.achievement__icon {
    background: var(--color-danger);
    padding: .6rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem
}

.achievement__card:nth-child(2) .achievement__icon {
    background: var(--color-success)
}

.achievement__card:nth-child(3) .achievement__icon {
    background: var(--color-primary)
}

.achievement__card p {
    margin: 1rem
}

.team {
    background: var(--color-bg1);
    box-shadow: 0 0 3rem rgb(0, 0, 0, .5)
}

.contact__socials a,
.team__member {
    background: var(--color-bg2);
    transition: var(--transition)
}

.team__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem
}

.team__member {
    padding: 2rem;
    border: 1px solid transparent;
    overflow: hidden
}

.team__member:hover {
    background: 0 0;
    background-color: var(--color-primary)
}

.team__member-image img {
    filter: saturate(0)
}

.team__member-image:hover img {
    filter: saturate(1)
}

.team__member-info {
    text-align: center;
    margin-top: 1.4rem
}

.team__member-info p {
    color: var(--color-light)
}

.team__member-socials {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -100%;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    border-radius: 1rem 0 0;
    box-shadow: -2rem 0 2rem rgb(0, 0, 0, .3);
    transition: var(--transition)
}

.team__member:hover .team__member-socials {
    right: 0
}

.team__member-socials a {
    padding: 1rem
}

.contact {
    margin-top: 5rem
}

.contact__container {
    background: var(--color-bg1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem
}

.contact__aside {
    background: var(--color-primary);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem
}

.aside__image {
    width: 12rem;
    margin-bottom: 2rem
}

.contact__aside h2 {
    text-align: left;
    margin-bottom: 1rem
}

.contact__aside p {
    font-size: .9rem;
    margin-bottom: 2rem
}

.contact__details li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem
}

.contact__socials {
    display: flex;
    gap: .8rem;
    margin-top: 3rem
}

.contact__form,
.form__name {
    display: flex;
    gap: 1.2rem
}

.contact__socials a {
    padding: .5rem;
    border-radius: 50%;
    font-size: .9rem
}

.contact__socials a:hover {
    background: 0 0
}

.contact__form {
    flex-direction: column;
    margin-right: 4rem
}

.contact__form input[type=text] {
    width: 50%
}

input,
textarea {
    color: var(--color-white)
}

.contact__form .btn {
    width: max-content;
    cursor: pointer;
    margin-top: 1rem
}

@media screen and (max-width:1024px) {

    .nav__menu,
    .right table tbody tr td:first-child,
    .right table tbody tr td:last-child,
    .right table thead tr th:first-child,
    .right table thead tr th:last-child,
    nav button#close-menu-btn {
        display: none
    }

    .nav__menu li a:hover,
    a,
    nav button {
        color: var(--color-white)
    }

    .container {
        width: var(--container-width-md)
    }

    h1 {
        font-size: 2.2rem
    }

    h2 {
        font-size: 1.7rem
    }

    h3 {
        font-size: 1.4rem
    }

    h4 {
        font-size: 1.1rem
    }

    nav button {
        display: inline-block;
        background: 0 0;
        font-size: 1.8rem;
        cursor: pointer
    }

    .nav__menu {
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0
    }

    .nav__menu li {
        width: 100%;
        height: 5.8rem;
        animation: .4s linear forwards animateNavItems;
        transform-origin: top right;
        opacity: 0
    }

    .nav__menu li:nth-child(2) {
        animation-delay: .2s
    }

    .nav__menu li:nth-child(3) {
        animation-delay: .4s
    }

    .nav__menu li:nth-child(4) {
        animation-delay: .6s
    }

    @keyframes animateNavItems {
        0% {
            transform: rotateZ(-90deg) rotateX(90deg) scale(.1)
        }

        100% {
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1
        }
    }

    .nav__menu li a {
        background: var(--color-primary);
        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, .6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center
    }

    .nav__menu li a:hover {
        background: var(--color-bg2)
    }

    header {
        height: 55vh;
        margin-bottom: 4rem
    }

    .header__container {
        gap: 0;
        padding-top: 3rem
    }

    .categories {
        height: auto
    }

    .categories__container {
        grid-template-columns: 1fr;
        gap: 3rem
    }

    .categories__left {
        margin-right: 0
    }

    .courses {
        margin-top: 0
    }

    .courses__container,
    .footer__container {
        grid-template-columns: 1fr 1fr
    }

    .faqs__container {
        grid-template-columns: 1fr
    }

    .faq {
        padding: 1.5rem
    }

    .right .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem
    }

    .right .recent-orders table {
        width: 83vw
    }

    .about__achievements {
        margin-top: 2rem
    }

    .about__achievements-container {
        grid-template-columns: 1fr;
        gap: 4rem
    }

    .about__achievements-left {
        width: 80%;
        margin: 0 auto
    }

    .team__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem
    }

    .team__member {
        padding: 1rem
    }

    .contact {
        padding-bottom: 0
    }

    .contact__container {
        gap: 1.5rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem
    }

    .contact__aside {
        width: auto;
        padding: 1.5rem;
        bottom: 0
    }

    .contact__form {
        align-self: center;
        margin-right: 1.5rem
    }
}

@media screen and (max-width:600px) {
    .container {
        width: var(--container-width-sm)
    }

    .nav__menu {
        right: 3%
    }

    header {
        height: 100vh
    }

    .header__container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 0
    }

    .header__left p {
        margin-bottom: 1.3rem
    }

    .achievements__cards,
    .categories__right,
    .team__container {
        grid-template-columns: 1fr 1fr;
        gap: .7rem
    }

    .contact__container,
    .courses__container,
    .footer__container {
        grid-template-columns: 1fr
    }

    .category {
        padding: 1rem;
        border-radius: 1rem
    }

    .category__icon {
        margin-top: 4px;
        display: inline-block
    }

    .testimonial__body {
        padding: 1.2rem
    }

    .footer__container {
        text-align: center;
        gap: 2rem
    }

    .footer__1 p {
        margin: 1rem auto
    }

    .footer__socials {
        justify-content: center
    }

    .team__member {
        padding: 0
    }

    .team__member p {
        margin-bottom: 1.5rem
    }

    .contact__container {
        gap: 3rem;
        margin-top: 3rem;
        padding: 1.5rem
    }

    .contact__form {
        margin: 0 1.5rem 3rem
    }

    .form__name {
        flex-direction: column
    }

    .contact__form input[type=text] {
        width: 99%
    }
}